extends baseEmail

block content
  p Üdvözlet,
  p Elfelejtetted a jelszavad? Állítsd be az új jelszavad ezen a linken: #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='center')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Jelszó visszaállítás
  p Ha nem felejtetted el a jelszavadat, vagy nem te küldted a visszaállítást, kérlek mellőzd ezt a levelet.
  p - Paintify
