footer
    h4 About Us
    <p  style="font-size: 10px; line-height: 20px;">You can find us on Facebook, Instagram, Email consectetur adipisicing elit. Animi suscipit fugiat, <br> aliquam vitae eius adipisci ipsam. Tempora voluptates quos, porro fuga   nesciunt <br> cumque excepturi totam magnam consequatur, alias voluptatibus dolor.</p>
    div.icons
        i.fa-brands.fa-instagram
        i.fa-brands.fa-facebook-f
        i.fa-brands.fa-tiktok
    p#bottom ©All rights reserved 2023