body
    script(src='/js/pagination.js',type="module")  
    .containerPagination
        .pagination
            button.btn1 Előző
            ul
                li(data-value='1') 1
                li(data-value='2') 2
                li(data-value='3') 3
                li(data-value='4') 4
            button.btn2 Következő