extends base

block content 
    script(src='/js/index.js',type="module")
    body
        section.section2
            div.section2-div
                h1 What we offer
                p We are working as a platform for you to find luxorius detailed modern paintings, that could fit in to your art gallery. We are also giving space for upcoming artist, to sell their paintings through this platform.
                div.section2-row
                    div.section2-col#buyPaintings
                        img(src="img/paintings/s1.jpg", alt="")
                        h3 Buy Paintings
                    div.section2-col#sellPaintings
                        img(src="img/paintings/s2.jpg", alt="")
                        h3 Sell Paintings
                h1 Something here
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid adipisci voluptates esse perspiciatis repellat, facere harum aspernatur possimus minima nihil mollitia eveniet explicabo deleniti aperiam repudiandae? Quidem expedita est dolor.
                br
