extends base

block content 
    script(src='/js/index.js',type="module")
    body
        section.section2
            div.section2-div
                h1 Rólunk
                p Ezt a platformot azért alkottuk meg, hogy mai modern és esztétikus festményeket tudjatok vásárolni tőlünk. A fiatal, feltörekvő festőknek platfromot nyújtunk a festményeik értékesítésében, ezáltal is teret adva a magyar képzőművészeknek.
                div.section2-row
                    div.section2-col#buyPaintings
                        img(src="img/paintings/s1.jpg", alt="")
                        h3 Vásárlás
                    div.section2-col#sellPaintings
                        img(src="img/paintings/s2.jpg", alt="")
                        h3 Eladás
                h1 Adás-Vétel
                p Ha szeretnél festményt feltölteni, csak nyomj az Eladás gombra, ha még nem regisztráltál, hozz létre egy fiókot, add meg a festmény adatait, fotózd le a festményedet, az adatokkal együtt töltsd fel a 2-3 képet a festményedről, majd a festmény a rendszerünkbe is kerül. Ezután egy gyors ellenőrzési folyamat után a festményedet már hirdetjük is az oldalon!
                br
                p Ha vásárolni jöttél csak menj a festmények oldalra, ahol kedved szerint válogathatsz a festmények között!
